{% load static i18n %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% block css %}{% endblock css %}
        <!-- CSS only -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link href="{% static 'fontawesome_free/css/all.min.css' %}" rel="stylesheet" type="text/css">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.35.0/codemirror.css" rel="stylesheet"
              type="text/css">
        <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}"/>
        <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />
        <link rel="stylesheet" href="https://rawgit.com/enyo/dropzone/master/dist/dropzone.css">

        {{ form.media }}
    </head>
    <body>
        {% include "nav.html" %}
        {% block breadcrumbs %}{% endblock %}
        {% include "_modal.html" %}
        <main>

                {% block content %}<div class="container-fluid">base</div>{% endblock content %}

        </main>

    <div aria-live="polite" aria-atomic="true" class="position-relative">
        <div class="toast-container position-absolute top-0 end-0 p-3">
            <div id="toast_save" class="toast bg-success" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="toast-body">
                    Saved
                </div>
            </div>
            <div id="toast_error" class="toast bg-danger" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="toast-body">
                    Error
                </div>
            </div>
        </div>
    </div>
    <!-- JavaScript Bundle with Popper -->
    <script src="{% static 'scripts/utils.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="{% static 'js/jquery.bootstrap.modal.forms.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
    <script src="{% static 'fontawesome_free/js/all.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.35.0/codemirror.js"></script>
    <script src="https://codemirror.net/mode/python/python.js"></script>
    <script src="http://jonmiles.github.io/bootstrap-treeview/js/bootstrap-treeview.js"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
    <script src="https://rawgit.com/enyo/dropzone/master/dist/dropzone.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/5.5.2/bootbox.min.js" integrity="sha512-RdSPYh1WA6BF0RhpisYJVYkOyTzK4HwofJ3Q7ivt/jkpW6Vc8AurL1R+4AUcvn9IwEKAPm/fk7qFZW3OuiUDeg==" crossorigin="anonymous"></script>
    <script>

        function delete_document(e){
            var url = $(e).data('url');
            var name = "object";
            bootbox.confirm({
                message: "{% trans "Do you really want to delete" %} <b>"+ $(e).data('name') + "</b> ?",
                buttons: {
                    confirm: {
                        label: "{% trans "Yes" %}",
                        className: 'btn-success'
                    },
                    cancel: {
                        label: "{% trans "No" %}",
                        className: 'btn-danger'
                    }
                },
                callback: function (result) {
                    if (result) {
                        $.ajax({
                            url: url,
                            headers: { "X-CSRFToken": getCookie("csrftoken") },
                            type: 'POST',
                            traditional: true,
                            dataType: 'json',
                            success: function(result){
                                if ($(e).data('source') == "table"){
                                    $(e).closest("tr").remove();
                                }
                                if ($(e).data('source') == "span"){
                                    $(e).closest("span").remove();
                                }
                            },
                            error: function(){
                                $("#toast_error").toast({ delay: 3000 });
                                $("#toast_error").toast('show');
                            }
                        });
                    }
                }
            }); // end bootbox.confirm
        }

        $(document).ready(function () {
            $('select').select2();
            $('.btn-delete').on('click', function(e){delete_document(this);});

            {% block ready_js %}
            {% endblock %}
        }); // end document

    </script>
    {% block js %}
    {% endblock js %}
</body>

</html>