{% extends "base.html" %}
{% load static i18n crispy_forms_tags %}

{% block content %}
<div class="container">
    <div class="row">
        <h2 class="text-center my-3">{{object.name}}</h2>
    </div>
    <div class="row">
        <p>{{object.refer_course}}</p>
    </div>

    <div class="row">
        <table class="table table-striped">
            <thead>
                <tr>
                  <th>Name</th>
                  <th>Operations</th>
                </tr>
            </thead>
            <tbody>
                {% for inst in object.chapters.all %}
                    <tr>
                        <td>{{inst}}</td>
                        <td class="py-1" style="width:1px; white-space:nowrap;">
                            <a role="button" class="btn btn-primary" href="{{inst.get_absolute_url}}"><i class="far fa-eye"></i></a>
                            <a role="button" class="btn btn-info" href="{{inst.get_change_url}}"><i class="fas fa-edit"></i></a>
                            <a role="button" class="btn btn-success" href="{{inst.get_download_url}}"><i class="fas fa-download"></i></a>
                            <a role="button" class="btn btn-danger" href="{{inst.get_delete_url}}"><i class="far fa-trash-alt"></i></a>
                    </td>
                        </td>
                    </tr>
                {% empty %}
                    <tr>
                        <td>No objects</td>
                        <td></td>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div>
        <button id="btn_add_chapter"  class="btn btn-secondary" >Add chapter</button>
    </div>
</div>
{% endblock %}

{% block ready_js %}
    $("#btn_add_chapter").modalForm({formURL: "{% url 'chapter:chapter_popup_add' %}?course_id={{object.pk}}"});
{% endblock %}
