{% extends "index.html" %}
{% load static i18n crispy_forms_tags %}

{% block breadcrumbs %}
<div class="row pl-3">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
            <li class="breadcrumb-item"><a href="{% url 'course:course_list' %}">Courses</a></li>
            <li class="breadcrumb-item"><a href="{% url 'course:course_detail' object.refer_chapter.refer_course.id %}">{{object.refer_chapter.refer_course.name}}</a></li>
            <li class="breadcrumb-item"><a href="{% url 'chapter:chapter_detail' object.refer_chapter.id %}">{{object.refer_chapter.name}}</a></li>
            <li class="breadcrumb-item active"><a href="#">{{object.name}}</a></li>
        </ol>
    </nav>
</div>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
                <div class="text-center">
                    <h2 class="text-center">{{object.name}}</h2>
            </div>
            <div class="px-3 py-3" style="border:solid 1px;">
                <div>{{answer.refer_question.question | safe }}</div>
                {% if answer.refer_question.documents.all %}
                    <b>{% trans "Attachment(s)"%}</b> :
                    {% for doc in answer.refer_question.documents.all %}
                        <a class="ml-1" href="{{ doc.get_download_url }}">{{ doc }}</a>
                    {% endfor %}
                {% endif %}
            </div>
            {% if answer.refer_question.can_add_documents %}
                <div class="row mt-2">
                    <div id="div_docs" class="col-md-12">
                        <a href="#" class="btn btn-secondary btn-modal" data-url="{% url 'answer:document_popup_add' object.id  %}">{% trans "Add document" %}</a>
                        {% for doc in answer.docs.all %}
                            <span>
                                {{ doc.get_button_download_delete | safe }}
                            </span>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
            <div class="row mt-2">
                <div class="{% if tests.get_test_names %}col-md-10{%else%}col-md-12{% endif%}">
                    <ul id="tabs" class="nav nav-tabs ">
                        {% for code in answer.codes.all %}
                        <li class="nav-item">
                            {% if forloop.first %}
                            <a data-id="{{code.id}}" class="nav-link tab active" aria-current="page" href="#">{{code}}</a>
                            {% else %}
                            <a data-id="{{code.id}}" class="nav-link tab" aria-current="page" href="#">{{code}}</a>
                            {% endif %}
                        </li>
                        {% endfor %}
                        {% if answer.refer_question.can_add_code %}
                        <li id="tab_add" class="nav-item">
                            <a class="nav-link" href="#" data-bs-toggle="modal" data-bs-target="#add_file">+</a>
                        </li>
                        {% endif %}
                    </ul>
                    <textarea id="code" data-status="unchanged">{{answer.get_code_content}}</textarea>
                </div>
                {% if tests.get_test_names %}
                <div class="col-md-2">
                    <button id="btn_test" class="btn btn-outline-dark mb-2">Run tests <i class="fa fa-list"></i></button>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th class="text-center">Status</th>
                            </tr>
                        </thead>
                        <tbody id="tests_table">
                            {% for test_result in tests.get_test_names %}
                            <tr>
                                <td>{{test_result.name}}</td>
                                <td class="text-center" id="{{test_result.name}}">{% if test_result.success %}
                                        <i class="fa fa-check-circle" aria-hidden="true" style="color: green;"></i>
                                    {% else %}
                                        {% comment %} <i class="fa fa-exclamation-circle" style="color: red;"></i> {% endcomment %}
                                    {% endif %}
                                </td>
                            </tr>
                            {% empty %}
                            <tr>
                                <td>No tests</td>
                                <td></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% endif %}
            </div>
            <div class="row d-flex clearfix mt-3 px-3">
                <div class="align-self-start mr-auto">
                    <button id="btn_save" class="btn btn-success">Save</button>
                    <button id="btn_run" class="btn btn-outline-dark" style="">
                        Run
                        <i class="fa fa-play" style="color: green"></i>
                    </button>
                </div>
                <div class="align-self-center mx-auto">
                </div>
                <div class="align-self-end">
                    <button id="btn_reload" class="btn btn-secondary">Reload default code</button>
                </div>
            </div>
            <div class="row mt-3 px-3">
                <div class="terminal col-md-12" id="terminal">
                    <div id="terminal_history">
                    </div>
                    <div class="line">
                        <span id="path">{{user.netid}}@codechecker:~$</span>
                        <input type="text" id="terminal_input">
                    </div>
                </div>
            </div>
            <div id="add_file" class="modal" tabindex="-1">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Add file</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div id="form_add_document" class="form-row d-flex justify-content-center align-items-start mb-3">
                                <div class="col-md-7">{{documentForm.name}}
                                    <div id="validation_id_name" class="invalid-feedback"></div>
                                </div>
                                <div class="col-md-1 text-center">.</div>
                                <div class="col-md-4">{{documentForm.extension}}
                                    <div id="validation_id_extension" class="invalid-feedback"></div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button id="btn_add_file" type="button" class="btn btn-primary">Add</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    {% endblock %}

    {% block ready_js %}

        $( ".btn-modal" ).each(function() {
            $( this ).modalForm({ formURL: $( this ).data("url") });
        });

        $('#tree').treeview({
            data: {{treeview}},
            expandIcon: 'fas fa-plus',
            collapseIcon: 'fas fa-minus',
            selectable: true,
            showBorder: false,
            state: {
            checked: true,
            disabled: true,
            expanded: true,
            selected: true
            },
            onNodeSelected: function(event, node) {
            window.location = node.href;
            }
        });

        var editor = CodeMirror.fromTextArea(document.getElementById("code"), {
            mode: {name: "python", // TODO multimode use {{mode}}
            version: 3,
            singleLineStringErrors: false},
            lineNumbers: true,
            indentUnit: 4,
            matchBrackets: true
        });
        editor.save();

        $("#btn_add_documents").modalForm({ formURL: "{% url 'question:document_popup_add' object.id %}?type=doc" });
        $("#btn_add_default_code").modalForm({ formURL: "{% url 'question:document_popup_add' object.id %}?type=code" });

        function check_status(e){
            if ($('#code').data('status') == "unchanged"){
                $('#tabs a.nav-link.tab.active').addClass("text-danger");
                $('#code').data('status', "changed");
            }
            if ($('#code').data('status') == "new_content"){
                $('#code').data('status', "unchanged");
            }
        }

        editor.on("change", check_status);

        function save_file(e){
            var url = "{% url 'answer:answer_set_content' 1234 %}";
            url = url.replace(/1234/, $('#tabs a.nav-link.tab.active').data('id'));
            $.ajax({
                url: url,
                // Include the token in the request, getCookie is defined in static/scripts/utils.js
                headers: { "X-CSRFToken": getCookie("csrftoken") }, 
                type: 'POST',
                data: { code: editor.getValue() },
                traditional: true,
                dataType: 'json',
                success: function(result){
                    $("#toast_save .toast-body").html("Saved");
                    $("#toast_save").toast({ delay: 3000 });
                    $("#toast_save").toast('show');
                    $('#tabs a.nav-link.tab.text-danger').removeClass("text-danger");
                    $('#code').data('status', "unchanged");
                },
                error: function(){
                    $("#toast_error").toast({ delay: 3000 });
                    $("#toast_error").toast('show');
                }
            });
        }

        $( "#btn_save" ).click(save_file);

        $( "#btn_reload" ).click(function() {
            var url = "{% url 'answer:answer_get_default_content' 1234 %}";
            url = url.replace(/1234/, $('ul[id="tabs"] .active').data('id'));
            $.ajax({
                url: url,
                type: 'GET',
                data: {answer_id:{{answer.id}}},
                traditional: true,
                dataType: 'json',
                success: function(result){
                    editor.setValue(result['code']);
                },
                error: function(){
                    $("#toast_error").toast({ delay: 3000 });
                    $("#toast_error").toast('show');
                }
            });
        });

        function click_tab(e){
            if ($('#code').data('status') == "changed"){
                save_file(e);
            }
            $(this).tab('show');
            var url = "{% url 'answer:answer_get_content' 1234 %}";
            url = url.replace(/1234/, $(this).data('id').toString());
            $.ajax({
                url: url,
                type: 'GET',
                traditional: true,
                dataType: 'json',
                success: function(result){
                    if (result['result']) {
                        $('#code').data('status', "new_content");
                        editor.setValue(result['code']);
                        if (result['has_default'] == true){
                            $('#btn_reload').show();
                        }
                        else{
                            $('#btn_reload').hide();
                        }
                        editor.setOption("mode", result['mode']);
                    }
                },
                error: function(){
                    $("#toast_error").toast({ delay: 3000 });
                    $("#toast_error").toast('show');
                }
            });
        };

        $("#tabs .tab").click(click_tab);

        function run_execute(e) {
            var url = "{% url 'answer:answer_execute' answer.id %}";
            $.getJSON({
                url: url,
                success: function(data) {
                    var lines = ["{{user.netid}}@codechecker:~$ " + data.command].concat(data.output);
                    terminal_log(lines);
                },
                error: function(err) {
                    console.log(err);
                }
            });
        };

        function run_tests(e) {
            var url = "{% url 'answer:answer_test' answer.id %}";
            $.getJSON({
                url: url,
                success: function(testResults) {
                    testResults.forEach(function(result) {
                        if (result.success) {
                            $("#" + result.name).html('<i class="fa fa-check-circle" aria-hidden="true" style="color: green;"></i>');
                        } else {
                            $("#" + result.name).html('<i class="fa fa-exclamation-circle" style="color: red;"></i>');
                        }
                    });
                },
                error: function(err) {
                    console.log(err);
                }
            });
        }

        function terminal_log(lines) {
            lines.forEach(function(line){
                $('#terminal_history').append(line + "<br/>");
            });
            var terminal = $("#terminal")[0];
            terminal.scrollTop = terminal.scrollHeight;
        }

        $('#terminal').on('click', function(){
            $('#terminal_input').focus();
        });

        $('#terminal_input').on('keydown',function search(e) {
            if(e.keyCode == 13) {
                $('#terminal_history').append("{{user.netid}}@codechecker:~$ " + $(this).val()+'<br/>');
                $('#terminal_input').val('');
                // Scroll to the bottom of the terminal.
                this.parentNode.parentNode.scrollTop = this.parentNode.parentNode.scrollHeight;
            }
        });

        $("#btn_run").click(run_execute);
        $("#btn_test").click(run_tests);
        $("#btn_add_file").click(function(e){
            e.preventDefault();
            var url = "{% url 'answer:answer_add_file' answer.id %}";
            $.ajax({
                url: url,
                type: 'GET',
                traditional: true,
                data: {'filename': $('#id_name').val(), 'extension':$('#id_extension').val()},
                dataType: 'json',
                success: function(result){
                    if (result['result']) {
                        var data = '<li class="nav-item"><a data-id="'+result['filename_id']+'" class="nav-link tab" aria-current="page" href="#">'+result['filename']+'</a></li>';
                        $(data).insertBefore($('#tab_add'));
                        $("#id_name").removeClass("is-invalid");
                        $('#id_name').val('');
                        $('#id_extension').val('');
                        $('#validation_id_name').val('');
                        $("#id_extension").removeClass("is-invalid");
                        $('#validation_id_extension').val("");
                        $('#add_file').modal('hide');
                        $('#tabs li:eq(-2) > a').click(click_tab);
                        $('#tabs li:eq(-2) > a').click();
                    }
                    else{
                        if (result['filename_error']) {
                            $("#id_name").addClass("is-invalid");
                            $('#validation_id_name').text("Filename already exists");
                        }
                        if (result['extension_error']) {
                            $("#id_extension").addClass("is-invalid");
                            $('#validation_id_extension').text("select an extension");
                        }
                    }
                },
                error: function(){
                    $("#toast_error").toast({ delay: 3000 });
                    $("#toast_error").toast('show');
                }
            });
        });
    {% endblock %}