{% load static i18n crispy_forms_tags crispy_forms_field %}
<div class="modal-header">
    <h3 class="modal-title">{{title}}</h3>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<form method="post" class="horizontal-form" action="">
    {% csrf_token %}
    <div class="modal-body">
        <div class="{% if form.non_field_errors %}invalid{% endif %} mb-2">
            {% for error in form.non_field_errors %}
                {{ error }}
            {% endfor %}
        </div>
        {% for field in form %}
            <div class="form-group row">
                <label class="col-md-3" for="{{ field.id_for_label }}">{{ field.label }}</label>
                <div class="col-md-9">
                    {% crispy_field field %}
                    <div class="{% if field.errors %} invalid{% endif %}">
                    {% for error in field.errors %}
                        <p class="help-block">{{ error }}</p>
                    {% endfor %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="submit-btn btn btn-primary" data-dismiss="modal">{{btn_label}}</button>
    </div>
</form>
