{% load static i18n crispy_forms_tags crispy_forms_field %}

    <div class="modal-header">
        <h3 class="modal-title">{{title}}</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form id="dropzoneForm" action="{{action_url}}" class="dropzone">
        {% csrf_token %}
        <div class="fallback">
            <input name=file type="file" multiple />
        </div>
        </form>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
    </div>
<script>
$("#dropzoneForm").dropzone({
    maxFiles: 2000,
    error: function (file, response) {
        console.log("Error");
        console.log(response);
    },
    success: function (file, response) {
        console.log("Success");
        console.log(response);
        {% if source == "question" %}
            if (response['type'] == "doc"){
                var html = '<tr><td>'+ response['filename'] +'</td><td style="width:1px; white-space:nowrap;text-align:right;">' + response['buttons'] + '</td></tr>';
                $("#table_documents tbody").append(html);
                $("#table_documents tbody tr:last .confirmation").on('click', function(e){delete_document(this);});

            }
            if (response['type'] == "code"){
                var html = '<tr><td>'+ response['filename'] +'</td><td style="width:1px; white-space:nowrap;text-align:right;">' + response['buttons'] + '</td></tr>';
                $("#table_codes tbody").append(html);
                $("#table_codes tbody tr:last .confirmation").on('click', function(e){delete_document(this);});
            }
        {% endif %}
        {% if source == "answer" %}
            $("#div_docs").append("<span>" + response['buttons'] + "</span>");
            $("#div_docs a:last.btn-delete").on('click', function(e){delete_document(this);});
        {% endif %}
    }
});
</script>