{% extends "base.html" %}
{% load static i18n crispy_forms_tags %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12 text-center">
            <h2 class="text-center">{{object}}</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            {% crispy form %}
        </div>
    </div>
</div>
{% endblock %}

{% block ready_js %}
$("#btn_add_documents").modalForm({ formURL: "{% url 'question:document_popup_add' object.id  %}?type=doc" });
$("#btn_add_default_code").modalForm({ formURL: "{% url 'question:document_popup_add' object.id  %}?type=code" });
{% endblock %}

