{% extends "base.html" %}
{% load static i18n crispy_forms_tags crispy_forms_field %}

{% block breadcrumbs %}
<div class="row pl-3">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
            <li class="breadcrumb-item"><a href="{% url 'course:course_list' %}">Courses</a></li>
            <li class="breadcrumb-item"><a href="{% url 'course:course_detail' object.refer_chapter.refer_course.id %}">{{object.refer_chapter.refer_course.name}}</a></li>
            <li class="breadcrumb-item"><a href="{% url 'chapter:chapter_detail' object.refer_chapter.id %}">{{object.refer_chapter.name}}</a></li>
            <li class="breadcrumb-item"><a href="{% url 'question:question_detail' object.id %}">{{object.name}}</a></li>
            <li class="breadcrumb-item active"><a href="#">change</a></li>
        </ol>
    </nav>
</div>
{%endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12 text-center">
            <h2 class="text-center">{{object}}</h2>
        </div>
    </div>
    <form action="" method="POST">
        {% csrf_token %}
        <!-- name -->
        <div class="form-group form-horizontal row">
            <label for="{{ form.name.id_for_label }}" class=" col-md-3 form-check-label{% if form.name.field.required %} requiredField{% endif %}">
                        {{ form.name.label|safe }}{% if form.name.field.required %}<span class="asteriskField">*</span>{% endif %}
                    </label>
            <div class="col-md-9">
                    {% crispy_field form.name %}
            </div>
        </div>
        <!-- question -->
        <div class="form-group form-horizontal row">
            <label for="{{ form.question.id_for_label }}" class="col-md-3 form-check-label{% if form.question.field.required %} requiredField{% endif %}">
                        {{ form.question.label|safe }}{% if form.question.field.required %}<span class="asteriskField">*</span>{% endif %}
                    </label>
            <div class="col-md-9">
                    {% crispy_field form.question %}
            </div>
        </div>
        <!-- documents -->
        <div class="form-group form-horizontal row">
            <label class="col-md-3 form-check-label">Documents</label>
            <div class="col-md-9">
                <table id="table_documents" style="border: 1px solid #aaa;margin-bottom: 4px;" class="table table-striped table-sm">
                    <thead>
                        <tr><th class="pl-3" colspan="2">Name</th></tr>
                    </thead>
                    <tbody>
                        {% for filename, buttons in documents %}
                            <tr>
                                <td>{{ filename }}</td>
                                <td style="width:1px; white-space:nowrap;text-align:right;">{{ buttons | safe}}</td>
                            </tr>
                            {% empty %}
                                <tr><td colspan="2">No objects</td></tr>
                        {% endfor %}
                    </tbody>
                </table>
                <a href="#" id="#btn_add_documents" class="btn btn-secondary btn-sm btn-modal" data-url="{% url 'question:document_popup_add' object.id  %}?type=doc">Add Document</a>
            </div>
        </div>
        <!-- can_add_documents -->
        <div class="form-group form-horizontal row">
            <label for="{{ form.can_add_documents.id_for_label }}" class="col-md-3 form-check-label{% if form.can_add_documents.field.required %} requiredField{% endif %}">
                        {{ form.can_add_documents.label|safe }}{% if form.can_add_documents.field.required %}<span class="asteriskField">*</span>{% endif %}
                    </label>
            <div class="col-md-9">
                    {% crispy_field form.can_add_documents %}
            </div>
        </div>
        <!-- languages -->
        <div class="form-group form-horizontal row">
            <label for="{{ form.languages.id_for_label }}" class="col-md-3 form-check-label{% if form.languages.field.required %} requiredField{% endif %}">
                        {{ form.languages.label|safe }}{% if form.languages.field.required %}<span class="asteriskField">*</span>{% endif %}
                    </label>
            <div class="col-md-9">
                    {% crispy_field form.languages %}
            </div>
        </div>
        <!-- can_add_code -->
        <div class="form-group form-horizontal row">
            <label for="{{ form.can_add_code.id_for_label }}" class="col-md-3 form-check-label{% if form.can_add_code.field.required %} requiredField{% endif %}">
                        {{ form.can_add_code.label|safe }}{% if form.can_add_code.field.required %}<span class="asteriskField">*</span>{% endif %}
                    </label>
            <div class="col-md-9">
                    {% crispy_field form.can_add_code %}
            </div>
        </div>
        <!-- codes -->
        <div class="form-group form-horizontal row">
            <label class="col-md-3 form-check-label">Default codes</label>
            <div class="col-md-9">
                <table id="table_codes" style="border: 1px solid #aaa;margin-bottom: 4px;" class="table table-striped table-sm">
                    <thead>
                        <tr><th class="pl-3" colspan="2">Name</th></tr>
                    </thead>
                    <tbody>
                        {% for filename, buttons in codes %}
                            <tr>
                                <td>{{ filename }}</td>
                                <td style="width:1px; white-space:nowrap;text-align:right;">{{ buttons | safe }}</td>
                            </tr>
                            {% empty %}
                                <tr><td colspan="2">No objects</td></tr>
                        {% endfor %}
                    </tbody>
                </table>
                <a href="#" id="#btn_add_default_code" class="btn btn-secondary btn-sm btn-modal" data-url="{% url 'question:document_popup_add' object.id  %}?type=code">Add code</a>
            </div>
        </div>
        <!-- criteria -->
        <div class="form-group form-horizontal row">
            <label class="col-md-3 form-check-label">Criteria</label>
            <div class="col-md-9">
                <table id="table_criterias" style="border: 1px solid #aaa;margin-bottom: 4px;" class="table table-striped table-sm">
                    <thead>
                        <tr><th class="pl-3">Name</th><th>max points</th><th>step</th><th></th></tr>
                    </thead>
                    <tbody>
                        {% for name, detail, max_points, step, buttons in criterias %}
                            <tr>
                                <td>{{ name }}{{detail}}</td>
                                <td>{{ max_points }}</td>
                                <td>{{ step }}</td>
                                <td style="width:1px; white-space:nowrap;text-align:right;">{{ buttons | safe }}</td>
                            </tr>
                            {% empty %}
                                <tr><td colspan="4">No objects</td></tr>
                        {% endfor %}
                    </tbody>
                </table>
                <a href="#" id="#btn_add_criteria" class="btn btn-secondary btn-sm btn-modal" data-url="{% url 'question:criteria_popup_add' object.id  %}">Add criteria</a>
            </div>
        </div>
        <!-- allow_pair_evaluation -->
        <div class="form-group form-horizontal row">
            <label for="{{ form.allow_pair_evaluation.id_for_label }}" class="col-md-3 form-check-label{% if form.allow_pair_evaluation.field.required %} requiredField{% endif %}">
                        {{ form.allow_pair_evaluation.label|safe }}{% if form.allow_pair_evaluation.field.required %}<span class="asteriskField">*</span>{% endif %}
                    </label>
            <div class="col-md-9">
                    {% crispy_field form.can_add_code %}
            </div>
        </div>
        <!-- answers -->
        <div class="form-group form-horizontal row">
            <label class="col-md-3 form-check-label">Answers</label>
            <div class="col-md-9">
                <table style="border: 1px solid #aaa;" class="table table-striped table-sm">
                    <thead>
                        <tr><th class="pl-3" colspan="2">Name</th></tr>
                    </thead>
                    <tbody>
                        {% for filename, buttons in answers %}
                            <tr>
                                <td>{{ filename }}</td>
                                <td style="width:1px; white-space:nowrap;text-align:right;">{{ buttons |safe }}</td>
                            </tr>
                            {% empty %}
                                <tr><td colspan="2">No objects</td></tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <!-- buttons -->
        <div class="form-group row">
            <div class="aab col-md-3"></div>
            <div class="col-md-9"> <input type="submit" name="submit" value="Save" class="btn btn-primary" id="submit-id-submit"> </div>
        </div>
    </form>
</div>
{% endblock %}
